In [1]:
%%capture
pip install numpy pandas

In [2]:
import numpy as np
import pandas as pd

In [3]:
form_entry = pd.read_csv('../sources/form_entry.csv', low_memory=False)

In [4]:
form_entry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66831 entries, 0 to 66830
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      66831 non-null  int64
 1   first_name              65388 non-null  object
 2   last_name               4452 non-null   object
 3   email                   66831 non-null  object
 4   phone                   64511 non-null  float64
 5   course                  63665 non-null  object
 6   client_comments         2081 non-null   object
 7   language                66831 non-null  object
 8   utm_url                 66223 non-null  object
 9   utm_medium              32369 non-null  object
 10  utm_campaign            28318 non-null  object
 11  street_address          44610 non-null  object
 12  country                 56491 non-null  object
 13  city                    56504 non-null  object
 14  latitude                48367 non-null  float64
 15  longitude               48367 non-null  float64
 16  state                   142 non-null    object
 17  zip_code                36717 non-null  float64
 18  storage_status          66831 non-null  object
 19  created_at              66831 non-null  object
 20  updated_at              66831 non-null  object
 21  contact_id              0 non-null      float64
 22  lead_type               154 non-null    object
 23  location                66617 non-null  object
 24  referral_key            650 non-null    object
 25  automations             66630 non-null  object
 26  tags                    66802 non-null  object
 27  gclid                   40729 non-null  object
 28  browser_lang            87 non-null     object
 29  fb_ad_id                0 non-null      float64
 30  fb_adgroup_id           0 non-null      float64
 31  fb_form_id              0 non-null      float64
 32  fb_leadgen_id           0 non-null      float64
 33  fb_page_id              0 non-null      float64
 34  utm_source              32885 non-null  object
 35  academy_id              66561 non-null  float64
 36  deal_status             18457 non-null  object
 37  sentiment               0 non-null      float64
 38  ac_contact_id           62536 non-null  float64
 39  ac_deal_id              52143 non-null  float64
 40  user_id                 2350 non-null   float64
 41  won_at                  1124 non-null   object
 42  ac_expected_cohort      3 non-null      object
 43  current_download        291 non-null    object
 44  lead_generation_app_id  4146 non-null   float64
 45  utm_content             18804 non-null  object
 46  storage_status_text     155 non-null    object
 47  custom_fields           0 non-null      float64
 48  sex                     360 non-null    object
 49  utm_placement           0 non-null      float64
 50  utm_plan                368 non-null    object
 51  utm_term                2631 non-null   object
dtypes: float64(18), int64(1), object(33)
memory usage: 26.5+ MB

In [5]:
form_entry['deal_status'].value_counts()

LOST    17180
WON      1277
Name: deal_status, dtype: int64

In [6]:
not_lost = form_entry[form_entry['deal_status']!='LOST']

In [7]:
unassigned = not_lost[not_lost['ac_expected_cohort'].isnull()]

In [8]:
unassigned.columns

Index(['id', 'first_name', 'last_name', 'email', 'phone', 'course',
       'client_comments', 'language', 'utm_url', 'utm_medium', 'utm_campaign',
       'street_address', 'country', 'city', 'latitude', 'longitude', 'state',
       'zip_code', 'storage_status', 'created_at', 'updated_at', 'contact_id',
       'lead_type', 'location', 'referral_key', 'automations', 'tags', 'gclid',
       'browser_lang', 'fb_ad_id', 'fb_adgroup_id', 'fb_form_id',
       'fb_leadgen_id', 'fb_page_id', 'utm_source', 'academy_id',
       'deal_status', 'sentiment', 'ac_contact_id', 'ac_deal_id', 'user_id',
       'won_at', 'ac_expected_cohort', 'current_download',
       'lead_generation_app_id', 'utm_content', 'storage_status_text',
       'custom_fields', 'sex', 'utm_placement', 'utm_plan', 'utm_term'],
      dtype='object')

In [9]:
unassigned = unassigned[['first_name', 'last_name', 'email', 'created_at']]

In [10]:
# Delete "+00:00"
def correct_date(time):
    if pd.isna(time):
         return time
    else:
        sep = '+'
        stripped = time.split(sep, 1)[0]
        return stripped

In [11]:
unassigned['created_at'] = unassigned['created_at'].apply(correct_date)

In [12]:
unassigned['datetime_creation'] = pd.to_datetime(unassigned['created_at'])

In [13]:
unassigned['days_since_creation'] = (pd.Timestamp.now() - unassigned['datetime_creation']).dt.days

In [14]:
unassigned.sort_values(by=['days_since_creation'], ascending=False)

,first_name,last_name,email,created_at,datetime_creation,days_since_creation
47,Annelis,F,afuenmayor@4geeks.co,2020-09-22 13:06:03.498462,2020-09-22 13:06:03.498462,875
11,bastian,navarrete,navarrete.gomez.bastian@gmail.com,2020-09-22 12:28:58.358254,2020-09-22 12:28:58.358254,875
20,Alexis,Aldazoro,alexiseaj.cfc@gmail.com,2020-09-22 05:27:37.584999,2020-09-22 05:27:37.584999,875
45,Patricia,Sanchez,2231valemati@gmail.com,2020-09-22 11:54:39.640112,2020-09-22 11:54:39.640112,875
46,Annelis,Fuenmayor,afuenmayor@4geeks.co,2020-09-22 13:04:25.959437,2020-09-22 13:04:25.959437,875
...,...,...,...,...,...,...
66735,Nomar Mongua,NaN,nomarant@gmail.com,2023-01-31 18:34:02.088185,2023-01-31 18:34:02.088185,13
66734,CLAUDIA Aparicio,NaN,claudia.aparicio@ucamp.io,2023-01-31 17:47:22.431684,2023-01-31 17:47:22.431684,13
66733,Md shohel abbasy,NaN,shohelabbasy@gmail.com,2023-01-31 17:33:36.274695,2023-01-31 17:33:36.274695,13
28387,Alexander,NaN,alexanderlee622@gmail.com,2023-01-31 20:41:29.622791,2023-01-31 20:41:29.622791,13
66830,César Viteri,NaN,cviteri1960@gmail.com,2023-02-01 12:03:10.298447,2023-02-01 12:03:10.298447,13

In [15]:
cohort_users = pd.read_csv('../sources/cohort_users.csv')

In [16]:
cohort_users

,id,role,finantial_status,educational_status,created_at,updated_at,cohort_id,user_id,watching
0,1,STUDENT,LATE,SUSPENDED,2020-08-19 23:06:31.519727+00:00,2020-08-19 23:06:31.519746+00:00,9,14,False
1,3,STUDENT,LATE,SUSPENDED,2020-08-19 23:06:31.532619+00:00,2020-08-19 23:06:31.532644+00:00,31,14,False
2,4,STUDENT,LATE,SUSPENDED,2020-08-19 23:06:31.538438+00:00,2020-08-19 23:06:31.538457+00:00,4,14,False
3,5,STUDENT,NaN,GRADUATED,2020-08-19 23:06:31.550397+00:00,2020-08-19 23:06:31.550416+00:00,9,15,False
4,7,STUDENT,NaN,GRADUATED,2020-08-19 23:06:31.565350+00:00,2020-08-19 23:06:31.565371+00:00,9,16,False
...,...,...,...,...,...,...,...,...,...
7729,18592,STUDENT,NaN,DROPPED,2023-01-31 18:21:04.258037+00:00,2023-01-31 18:21:18.631759+00:00,397,5545,False
7730,18594,STUDENT,NaN,NaN,2023-01-31 19:14:17.126300+00:00,2023-01-31 19:14:17.126314+00:00,61,6004,False
7731,18593,STUDENT,NaN,ACTIVE,2023-01-31 19:08:18.651832+00:00,2023-01-31 19:15:43.203963+00:00,523,3617,False
7732,18595,STUDENT,NaN,NaN,2023-01-31 21:23:50.539551+00:00,2023-01-31 21:23:50.539572+00:00,61,6005,False
7733,18596,STUDENT,NaN,NaN,2023-01-31 22:12:30.476885+00:00,2023-01-31 22:12:30.476897+00:00,61,6006,False

In [17]:
auth = pd.read_csv('../sources/auth_user.csv')

In [18]:
cohort_users_auth = cohort_users.merge(auth, left_on='user_id', right_on='id', how='left')

In [19]:
cohort_users_auth.columns

Index(['id_x', 'role', 'finantial_status', 'educational_status', 'created_at',
       'updated_at', 'cohort_id', 'user_id', 'watching', 'id_y', 'first_name',
       'last_name', 'email', 'date_joined'],
      dtype='object')

In [20]:
cohort_users_auth = cohort_users_auth[['email', 'updated_at', 'cohort_id']]

In [21]:
cohort_users_auth['updated_at'] = cohort_users_auth['updated_at'].apply(correct_date)

In [22]:
cohort_users_auth['datetime_update'] = pd.to_datetime(cohort_users_auth['updated_at'])

In [23]:
cohort_users_auth

,email,updated_at,cohort_id,datetime_update
0,a+fakestudent8@4geeks.us,2020-08-19 23:06:31.519746,9,2020-08-19 23:06:31.519746
1,a+fakestudent8@4geeks.us,2020-08-19 23:06:31.532644,31,2020-08-19 23:06:31.532644
2,a+fakestudent8@4geeks.us,2020-08-19 23:06:31.538457,4,2020-08-19 23:06:31.538457
3,alejandro.leon1223@gmail.com,2020-08-19 23:06:31.550416,9,2020-08-19 23:06:31.550416
4,edgarbrignoni@icloud.com,2020-08-19 23:06:31.565371,9,2020-08-19 23:06:31.565371
...,...,...,...,...
7729,dierofortune2003@gmail.com,2023-01-31 18:21:18.631759,397,2023-01-31 18:21:18.631759
7730,yeshwanthk8826@gmail.com,2023-01-31 19:14:17.126314,61,2023-01-31 19:14:17.126314
7731,pablo@4geeks.co,2023-01-31 19:15:43.203963,523,2023-01-31 19:15:43.203963
7732,acelven@hotmail.com,2023-01-31 21:23:50.539572,61,2023-01-31 21:23:50.539572
7733,wkuyne@gmail.com,2023-01-31 22:12:30.476897,61,2023-01-31 22:12:30.476897

In [24]:
merged = pd.merge(unassigned, cohort_users_auth, on='email', how='inner')

In [25]:
to_drop = merged[merged['datetime_update'] > merged['datetime_creation']]

In [26]:
to_drop = to_drop.drop(columns=['updated_at', 'cohort_id', 'datetime_update'])

In [27]:
merged = pd.merge(unassigned, to_drop, how='outer', indicator=True)
dropped = merged[merged['_merge'] == 'both'].drop('_merge', axis=1)
unassigned = merged[merged['_merge'] == 'left_only'].drop('_merge', axis=1)

In [28]:
unassigned = unassigned.sort_values(by=['days_since_creation'], ascending=False)

In [29]:
unassigned.to_csv('../output/unassigned.csv')

In [30]:
unassigned

,first_name,last_name,email,created_at,datetime_creation,days_since_creation
48,Patricia,Sanchez,2231valemati@gmail.com,2020-09-22 11:54:39.640112,2020-09-22 11:54:39.640112,875
52,Adilson,de Souza,ADISOUZA.LIVE@GMAIL.COM,2020-09-22 14:24:58.076274,2020-09-22 14:24:58.076274,875
51,Anne,F,annelisfuenmayor@gmail.com,2020-09-22 13:07:38.466361,2020-09-22 13:07:38.466361,875
50,Annelis,F,afuenmayor@4geeks.co,2020-09-22 13:06:03.498462,2020-09-22 13:06:03.498462,875
14,bastian,navarrete,navarrete.gomez.bastian@gmail.com,2020-09-22 12:28:58.358254,2020-09-22 12:28:58.358254,875
...,...,...,...,...,...,...
52436,Nomar Mongua,NaN,nomarant@gmail.com,2023-01-31 18:34:02.088185,2023-01-31 18:34:02.088185,13
52435,CLAUDIA Aparicio,NaN,claudia.aparicio@ucamp.io,2023-01-31 17:47:22.431684,2023-01-31 17:47:22.431684,13
52434,Md shohel abbasy,NaN,shohelabbasy@gmail.com,2023-01-31 17:33:36.274695,2023-01-31 17:33:36.274695,13
52432,Francisco,NaN,Flmatamoros@gmail.com,2023-01-31 16:30:28.097090,2023-01-31 16:30:28.097090,13
52524,César Viteri,NaN,cviteri1960@gmail.com,2023-02-01 12:03:10.298447,2023-02-01 12:03:10.298447,13

In [31]:
dropped

,first_name,last_name,email,created_at,datetime_creation,days_since_creation
4,Alejandro,Sanchez,a.alejo@gmail.com,2020-09-22 04:09:04.708149,2020-09-22 04:09:04.708149,875
5,Alejandro,Sanchez,a.alejo@gmail.com,2020-09-22 04:09:04.708149,2020-09-22 04:09:04.708149,875
6,Alejandro,Sanchez,a.alejo@gmail.com,2020-09-22 04:09:04.708149,2020-09-22 04:09:04.708149,875
7,Alejandro,Sanchez,a.alejo@gmail.com,2020-09-22 04:09:04.708149,2020-09-22 04:09:04.708149,875
8,Alejandro,Sanchez,a.alejo@gmail.com,2020-09-22 04:09:04.708149,2020-09-22 04:09:04.708149,875
...,...,...,...,...,...,...
52379,Tiago José Silva Tavares,NaN,tavtiagoares@gmail.com,2021-09-16 11:58:00.217038,2021-09-16 11:58:00.217038,516
52380,Fernando Perez,NaN,fernandoperezdeveloper@gmail.com,2021-04-07 04:41:07.331623,2021-04-07 04:41:07.331623,678
52381,Fernando Perez,NaN,fernandoperezdeveloper@gmail.com,2021-04-07 04:41:07.331623,2021-04-07 04:41:07.331623,678
52382,Fernando,Perez,fernandoperezdeveloper@gmail.com,2021-04-07 04:42:58.271708,2021-04-07 04:42:58.271708,678
52383,Fernando,Perez,fernandoperezdeveloper@gmail.com,2021-04-07 04:42:58.271708,2021-04-07 04:42:58.271708,678