In [1]:
%%capture
pip install numpy pandas

In [2]:
import numpy as np
import pandas as pd

In [3]:
cohorts = pd.read_csv('../sources/cohorts.csv')

In [4]:
cohorts

,id,slug,name,kickoff_date,ending_date,current_day,stage,language,created_at,updated_at,...,timezone,private,never_ends,schedule_id,syllabus_version_id,online_meeting_url,remote_available,current_module,history_log,is_hidden_on_prework
0,210,pre-work-latam,Pre-work-latam,2021-07-07 02:04:18.906000+00:00,2024-01-31 19:04:00+00:00,0,STARTED,en,2021-07-07 02:04:57.437696+00:00,2023-01-31 19:05:07.986742+00:00,...,America/Bogota,False,False,83.0,101.0,https://whereby.com/pbullor,True,NaN,NaN,False
1,374,sample-2,Sample-2,2022-05-25 19:20:28.798000+00:00,2023-03-16 19:20:00+00:00,1,STARTED,EN,2022-05-25 19:21:29.887390+00:00,2022-08-30 22:23:16.481231+00:00,...,America/Costa_Rica,False,False,72.0,104.0,NaN,False,1.0,NaN,NaN
2,300,orlando-pt-5,Orlando PT 5,2022-04-05 02:53:00+00:00,2022-07-30 02:53:00+00:00,0,INACTIVE,en,2022-01-25 03:54:14.088816+00:00,2022-01-25 03:54:14.088828+00:00,...,NaN,False,False,1.0,27.0,NaN,True,NaN,NaN,NaN
3,200,caracas-pt-xxvi,Caracas PT XXVI,2021-05-25 00:00:00+00:00,2021-09-04 00:00:00+00:00,48,ENDED,es,2021-04-12 23:00:58.115104+00:00,2021-11-03 15:09:23.017555+00:00,...,Africa/Abidjan,False,False,NaN,19.0,NaN,True,NaN,NaN,NaN
4,95,santiago-full-time-05,Santiago Full-time 05,2020-02-24 00:00:00+00:00,2020-05-01 00:00:00+00:00,45,ENDED,es,2020-07-17 03:10:55.243010+00:00,2021-10-13 20:16:08.737425+00:00,...,NaN,False,False,NaN,11.0,NaN,True,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,448,mdc-18,MDC - 18,2022-08-29 20:40:00+00:00,2022-12-05 21:40:00+00:00,42,ENDED,en,2022-08-24 20:42:57.405439+00:00,2022-12-14 21:47:31.039235+00:00,...,America/New_York,False,False,30.0,2.0,NaN,False,24.0,"{""1"": {""updated_at"": ""2022-12-07 23:32:09.5337...",NaN
385,512,spain-ds-ml-prework,Introduction to Data Science,2022-12-21 09:46:03.664000+00:00,NaN,0,STARTED,es,2022-12-21 09:48:47.687558+00:00,2022-12-21 09:52:37.646891+00:00,...,Europe/Madrid,False,True,NaN,96.0,NaN,False,NaN,NaN,NaN
386,359,europe-fs-pt-6,Europe Full-Stack Part Time 6,2022-09-19 20:36:00+00:00,2023-01-23 21:36:00+00:00,40,STARTED,en,2022-04-25 20:39:33.310184+00:00,2023-01-23 18:08:50.584785+00:00,...,Europe/Madrid,False,False,18.0,61.0,http://meet.google.com/jgj-vpnf-nqm,True,30.0,"{""1"": {""updated_at"": ""2022-12-05 19:00:44.0288...",NaN
387,381,online-latam-13,Online-Latam-13,2022-11-14 19:51:00+00:00,2023-02-03 19:51:00+00:00,31,STARTED,es,2022-06-15 19:52:31.329670+00:00,2023-01-31 01:56:59.297087+00:00,...,America/Bogota,False,False,27.0,61.0,https://meet.google.com/bbp-zqbw-gkn,True,30.0,"{""1"": {""updated_at"": ""2022-12-01 02:53:40.1664...",NaN
388,458,madrid-pt-30,Madrid PT 30,2022-10-25 14:50:00+00:00,2023-03-07 14:50:00+00:00,26,STARTED,es,2022-09-15 14:52:17.939827+00:00,2023-01-14 09:07:57.597467+00:00,...,Europe/Madrid,False,False,25.0,61.0,https://discord.gg/xNNr8XWVmk,True,25.0,"{""1"": {""updated_at"": ""2022-12-16 07:25:36.7825...",NaN

In [5]:
cohorts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    389 non-null    int64
 1   slug                  389 non-null    object
 2   name                  389 non-null    object
 3   kickoff_date          388 non-null    object
 4   ending_date           354 non-null    object
 5   current_day           389 non-null    int64
 6   stage                 389 non-null    object
 7   language              389 non-null    object
 8   created_at            389 non-null    object
 9   updated_at            389 non-null    object
 10  academy_id            389 non-null    int64
 11  timezone              197 non-null    object
 12  private               389 non-null    bool
 13  never_ends            389 non-null    bool
 14  schedule_id           189 non-null    float64
 15  syllabus_version_id   387 non-null    float64
 16  online_meeting_url    118 non-null    object
 17  remote_available      389 non-null    bool
 18  current_module        85 non-null     float64
 19  history_log           45 non-null     object
 20  is_hidden_on_prework  12 non-null     object
dtypes: bool(3), float64(3), int64(3), object(12)
memory usage: 56.0+ KB

In [6]:
academies_alias = pd.read_csv('../sources/academies_alias.csv')

In [7]:
academies_alias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   slug        29 non-null     object
 1   academy_id  29 non-null     int64
 2   name        29 non-null     object
 3   status      29 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.0+ KB

In [8]:
academies_alias

                     slug  academy_id                     name  status
0       caracas-venezuela           2   4Geeks Academy Caracas  ACTIVE
1               maracaibo           2   4Geeks Academy Caracas  ACTIVE
2          toronto-canada           4     4Geeks Academy Miami  ACTIVE
3          downtown-miami           4     4Geeks Academy Miami  ACTIVE
4                 orlando          11   4Geeks Academy Orlando  ACTIVE
5             milan-italy          10    4Geeks Academy Europe  ACTIVE
6              rome-italy          10    4Geeks Academy Europe  ACTIVE
7          berlin-germany          10    4Geeks Academy Europe  ACTIVE
8         hamburg-germany          10    4Geeks Academy Europe  ACTIVE
9          dublin-ireland          10    4Geeks Academy Europe  ACTIVE
10        lisbon-portugal          10    4Geeks Academy Europe  ACTIVE
11         munich-germany          10    4Geeks Academy Europe  ACTIVE
12                 europe          10    4Geeks Academy Europe  ACTIVE
13        barcelona-spain           6    4Geeks Academy Madrid  ACTIVE
14         valencia-spain           6    4Geeks Academy Madrid  ACTIVE
15           malaga-spain           6    4Geeks Academy Madrid  ACTIVE
16           madrid-spain           6    4Geeks Academy Madrid  ACTIVE
17         santiago-chile           5  4Geeks Academy Santiago  ACTIVE
18        bogota-colombia           7     4Geeks Academy Latam  ACTIVE
19  buenosaires-argentina           7     4Geeks Academy Latam  ACTIVE
20             costa-rica           7     4Geeks Academy Latam  ACTIVE
21          lapaz-bolivia           7     4Geeks Academy Latam  ACTIVE
22      mexicocity-mexico           7     4Geeks Academy Latam  ACTIVE
23     montevideo-uruguay           7     4Geeks Academy Latam  ACTIVE
24      panamacity-panama           7     4Geeks Academy Latam  ACTIVE
25          quito-ecuador           7     4Geeks Academy Latam  ACTIVE
26              lima-peru           7     4Geeks Academy Latam  ACTIVE
27        sanjose-uruguay           7     4Geeks Academy Latam  ACTIVE
28                 online           7     4Geeks Academy Latam  ACTIVE

In [9]:
academies_alias = academies_alias.rename(columns={'name':'campus', 'status':'academy_status'}).drop(columns=['slug']).drop_duplicates()

In [10]:
academies_alias

    academy_id                   campus academy_status
0            2   4Geeks Academy Caracas         ACTIVE
2            4     4Geeks Academy Miami         ACTIVE
4           11   4Geeks Academy Orlando         ACTIVE
5           10    4Geeks Academy Europe         ACTIVE
13           6    4Geeks Academy Madrid         ACTIVE
17           5  4Geeks Academy Santiago         ACTIVE
18           7     4Geeks Academy Latam         ACTIVE

In [11]:
cohorts = cohorts.merge(academies_alias, how='left', on='academy_id')

In [12]:
cohorts

,id,slug,name,kickoff_date,ending_date,current_day,stage,language,created_at,updated_at,...,never_ends,schedule_id,syllabus_version_id,online_meeting_url,remote_available,current_module,history_log,is_hidden_on_prework,campus,academy_status
0,210,pre-work-latam,Pre-work-latam,2021-07-07 02:04:18.906000+00:00,2024-01-31 19:04:00+00:00,0,STARTED,en,2021-07-07 02:04:57.437696+00:00,2023-01-31 19:05:07.986742+00:00,...,False,83.0,101.0,https://whereby.com/pbullor,True,NaN,NaN,False,4Geeks Academy Latam,ACTIVE
1,374,sample-2,Sample-2,2022-05-25 19:20:28.798000+00:00,2023-03-16 19:20:00+00:00,1,STARTED,EN,2022-05-25 19:21:29.887390+00:00,2022-08-30 22:23:16.481231+00:00,...,False,72.0,104.0,NaN,False,1.0,NaN,NaN,NaN,NaN
2,300,orlando-pt-5,Orlando PT 5,2022-04-05 02:53:00+00:00,2022-07-30 02:53:00+00:00,0,INACTIVE,en,2022-01-25 03:54:14.088816+00:00,2022-01-25 03:54:14.088828+00:00,...,False,1.0,27.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Orlando,ACTIVE
3,200,caracas-pt-xxvi,Caracas PT XXVI,2021-05-25 00:00:00+00:00,2021-09-04 00:00:00+00:00,48,ENDED,es,2021-04-12 23:00:58.115104+00:00,2021-11-03 15:09:23.017555+00:00,...,False,NaN,19.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Caracas,ACTIVE
4,95,santiago-full-time-05,Santiago Full-time 05,2020-02-24 00:00:00+00:00,2020-05-01 00:00:00+00:00,45,ENDED,es,2020-07-17 03:10:55.243010+00:00,2021-10-13 20:16:08.737425+00:00,...,False,NaN,11.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Santiago,ACTIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,448,mdc-18,MDC - 18,2022-08-29 20:40:00+00:00,2022-12-05 21:40:00+00:00,42,ENDED,en,2022-08-24 20:42:57.405439+00:00,2022-12-14 21:47:31.039235+00:00,...,False,30.0,2.0,NaN,False,24.0,"{""1"": {""updated_at"": ""2022-12-07 23:32:09.5337...",NaN,NaN,NaN
385,512,spain-ds-ml-prework,Introduction to Data Science,2022-12-21 09:46:03.664000+00:00,NaN,0,STARTED,es,2022-12-21 09:48:47.687558+00:00,2022-12-21 09:52:37.646891+00:00,...,True,NaN,96.0,NaN,False,NaN,NaN,NaN,4Geeks Academy Madrid,ACTIVE
386,359,europe-fs-pt-6,Europe Full-Stack Part Time 6,2022-09-19 20:36:00+00:00,2023-01-23 21:36:00+00:00,40,STARTED,en,2022-04-25 20:39:33.310184+00:00,2023-01-23 18:08:50.584785+00:00,...,False,18.0,61.0,http://meet.google.com/jgj-vpnf-nqm,True,30.0,"{""1"": {""updated_at"": ""2022-12-05 19:00:44.0288...",NaN,4Geeks Academy Europe,ACTIVE
387,381,online-latam-13,Online-Latam-13,2022-11-14 19:51:00+00:00,2023-02-03 19:51:00+00:00,31,STARTED,es,2022-06-15 19:52:31.329670+00:00,2023-01-31 01:56:59.297087+00:00,...,False,27.0,61.0,https://meet.google.com/bbp-zqbw-gkn,True,30.0,"{""1"": {""updated_at"": ""2022-12-01 02:53:40.1664...",NaN,4Geeks Academy Latam,ACTIVE
388,458,madrid-pt-30,Madrid PT 30,2022-10-25 14:50:00+00:00,2023-03-07 14:50:00+00:00,26,STARTED,es,2022-09-15 14:52:17.939827+00:00,2023-01-14 09:07:57.597467+00:00,...,False,25.0,61.0,https://discord.gg/xNNr8XWVmk,True,25.0,"{""1"": {""updated_at"": ""2022-12-16 07:25:36.7825...",NaN,4Geeks Academy Madrid,ACTIVE

In [13]:
# Delete "+00:00"
def correct_date(time):
    if pd.isna(time):
         return time
    else:
        sep = '+'
        stripped = time.split(sep, 1)[0]
        return stripped

In [14]:
cohorts['kickoff_date'] = cohorts['kickoff_date'].apply(correct_date)
cohorts['ending_date'] = cohorts['ending_date'].apply(correct_date)
cohorts['created_at'] = cohorts['created_at'].apply(correct_date)
cohorts['updated_at'] = cohorts['updated_at'].apply(correct_date)

In [15]:
cohorts['datetime_kickoff'] = pd.to_datetime(cohorts['kickoff_date'])

In [16]:
current_time = pd.Timestamp.now()

In [17]:
upcoming_cohorts = cohorts[cohorts['datetime_kickoff']>current_time]

In [18]:
upcoming_cohorts = upcoming_cohorts[upcoming_cohorts['never_ends']==False]

In [19]:
upcoming_cohorts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 124 to 374
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    33 non-null     int64
 1   slug                  33 non-null     object
 2   name                  33 non-null     object
 3   kickoff_date          33 non-null     object
 4   ending_date           33 non-null     object
 5   current_day           33 non-null     int64
 6   stage                 33 non-null     object
 7   language              33 non-null     object
 8   created_at            33 non-null     object
 9   updated_at            33 non-null     object
 10  academy_id            33 non-null     int64
 11  timezone              33 non-null     object
 12  private               33 non-null     bool
 13  never_ends            33 non-null     bool
 14  schedule_id           33 non-null     float64
 15  syllabus_version_id   33 non-null     float64
 16  online_meeting_url    4 non-null      object
 17  remote_available      33 non-null     bool
 18  current_module        0 non-null      float64
 19  history_log           0 non-null      object
 20  is_hidden_on_prework  2 non-null      object
 21  campus                33 non-null     object
 22  academy_status        33 non-null     object
 23  datetime_kickoff      33 non-null     datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(3), int64(3), object(14)
memory usage: 5.8+ KB

In [20]:
upcoming_cohorts['stage'].value_counts()

INACTIVE    19
DELETED     13
PREWORK      1
Name: stage, dtype: int64

In [21]:
upcoming_cohorts = upcoming_cohorts[(upcoming_cohorts['stage']=='INACTIVE')|(upcoming_cohorts['stage']=='PREWORK')]

In [22]:
upcoming_cohorts.columns

Index(['id', 'slug', 'name', 'kickoff_date', 'ending_date', 'current_day',
       'stage', 'language', 'created_at', 'updated_at', 'academy_id',
       'timezone', 'private', 'never_ends', 'schedule_id',
       'syllabus_version_id', 'online_meeting_url', 'remote_available',
       'current_module', 'history_log', 'is_hidden_on_prework', 'campus',
       'academy_status', 'datetime_kickoff'],
      dtype='object')

In [23]:
upcoming_cohorts

,id,slug,name,kickoff_date,ending_date,current_day,stage,language,created_at,updated_at,...,schedule_id,syllabus_version_id,online_meeting_url,remote_available,current_module,history_log,is_hidden_on_prework,campus,academy_status,datetime_kickoff
124,501,spain-fs-pt-enero,Spain FS PT Enero,2023-06-06 14:16:00,2023-10-10 15:16:00,0,INACTIVE,es,2022-12-09 15:17:36.465700,2022-12-24 10:42:58.373921,...,128.0,182.0,NaN,False,NaN,NaN,NaN,4Geeks Academy Madrid,ACTIVE,2023-06-06 14:16:00
191,384,latam-pt-ml-2,latam-pt-ml-2,2023-03-20 19:55:00,2023-07-21 19:55:00,0,INACTIVE,es,2022-06-15 19:56:41.393446,2022-12-02 16:24:24.277745,...,34.0,175.0,https://meet.google.com/eim-uzvt-dhk,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-03-20 19:55:00
210,469,latam-pt-16,latam-pt-16,2023-02-13 22:43:00,2023-06-16 22:43:00,0,PREWORK,es,2022-10-17 22:44:42.842503,2023-01-31 19:19:08.054270,...,134.0,182.0,https://meet.google.com/ogn-kbhz-mtm,True,NaN,NaN,True,4Geeks Academy Latam,ACTIVE,2023-02-13 22:43:00
215,503,spain-fs-pt-marzo,Spain FS PT Marzo,2023-03-07 15:23:00,2023-07-18 15:23:00,0,INACTIVE,es,2022-12-09 15:24:20.195068,2022-12-09 15:24:20.195078,...,128.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Madrid,ACTIVE,2023-03-07 15:23:00
216,402,miami-49,Miami 49,2023-02-20 15:54:00,2023-06-23 14:54:00,0,INACTIVE,en,2022-08-11 14:55:18.512578,2023-01-31 17:01:16.498992,...,1.0,61.0,NaN,False,NaN,NaN,False,4Geeks Academy Miami,ACTIVE,2023-02-20 15:54:00
221,473,latam-pt-20,latam-pt-20,2023-06-19 18:16:00,2023-10-20 18:16:00,0,INACTIVE,es,2022-10-18 18:17:28.070083,2023-01-16 22:41:35.109890,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-06-19 18:16:00
222,470,latam-pt-17,latam-pt-17,2023-03-13 18:12:00,2023-07-17 18:12:00,0,INACTIVE,es,2022-10-18 18:14:09.717460,2023-01-16 22:42:17.213203,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-03-13 18:12:00
262,504,spain-fs-pt-abril,Spain FS PT Abril,2023-04-10 15:24:00,2023-08-14 15:24:00,0,INACTIVE,es,2022-12-09 15:26:39.048445,2022-12-09 15:26:39.048456,...,127.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Madrid,ACTIVE,2023-04-10 15:24:00
266,403,miami-50,Miami 50,2023-03-20 14:55:00,2023-07-21 14:55:00,0,INACTIVE,en,2022-08-11 14:55:57.057573,2023-01-05 17:59:00.056658,...,1.0,61.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Miami,ACTIVE,2023-03-20 14:55:00
267,471,latam-pt-18,latam-pt-18,2023-04-17 18:14:00,2023-08-18 18:14:00,0,INACTIVE,es,2022-10-18 18:15:23.162442,2023-01-16 22:42:05.772000,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-04-17 18:14:00
293,505,spain-fs-pt-mayo,Spain FS PT Mayo,2023-05-02 15:26:00,2023-09-05 15:26:00,0,INACTIVE,es,2022-12-09 15:27:49.384144,2022-12-09 15:27:49.384153,...,128.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Madrid,ACTIVE,2023-05-02 15:26:00
308,479,latam-pt-26,latam-pt-26,2023-12-11 18:36:00,2024-04-26 18:36:00,0,INACTIVE,es,2022-10-18 18:36:56.343456,2023-01-16 22:40:53.098129,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-12-11 18:36:00
311,478,latam-pt-25,latam-pt-25,2023-11-13 18:33:00,2024-03-29 18:33:00,0,INACTIVE,es,2022-10-18 18:34:52.895475,2023-01-16 22:41:01.252292,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-11-13 18:33:00
313,477,latam-pt-24,latam-pt-24,2023-10-16 18:32:00,2024-03-01 18:32:00,0,INACTIVE,es,2022-10-18 18:33:45.115014,2023-01-16 22:41:09.953295,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-10-16 18:32:00
319,476,latam-pt-23,latam-pt-23,2023-09-18 18:31:00,2024-02-02 18:31:00,0,INACTIVE,es,2022-10-18 18:32:49.455786,2023-01-16 22:41:17.843890,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-09-18 18:31:00
320,475,latam-pt-22,latam-pt-22,2023-08-14 18:30:00,2023-12-15 18:30:00,0,INACTIVE,es,2022-10-18 18:31:05.823089,2023-01-16 22:41:26.614960,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-08-14 18:30:00
321,474,latam-pt-21,latam-pt-21,2023-07-17 18:17:00,2023-11-17 18:17:00,0,INACTIVE,es,2022-10-18 18:18:43.216835,2023-01-16 22:41:44.383001,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-07-17 18:17:00
322,472,latam-pt-19,latam-pt-19,2023-05-15 18:15:00,2023-09-15 18:15:00,0,INACTIVE,es,2022-10-18 18:16:26.949512,2023-01-16 22:41:55.195039,...,134.0,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-05-15 18:15:00
371,509,santiago-pt-36,Santiago PT-36,2023-02-20 13:32:00,2023-06-30 14:32:00,0,INACTIVE,es,2022-12-12 13:36:44.895170,2022-12-12 13:36:44.895180,...,22.0,100.0,https://bluejeans.com/524605273/2228,True,NaN,NaN,NaN,4Geeks Academy Santiago,ACTIVE,2023-02-20 13:32:00
374,510,santiago-pt-37,Santiago PT-37,2023-03-27 13:36:00,2023-08-04 14:36:00,0,INACTIVE,es,2022-12-12 13:38:09.737183,2022-12-12 13:38:09.737197,...,22.0,100.0,https://bluejeans.com/524605273/2228,True,NaN,NaN,NaN,4Geeks Academy Santiago,ACTIVE,2023-03-27 13:36:00

FORM ENTRY

In [24]:
#Uso la versión modificada para que no sea todo nulo en expected cohort
form_entry = pd.read_csv('../sources/modified_form_entry.csv', low_memory=False)

In [25]:
form_entry.sample(3)

,id,first_name,last_name,email,phone,course,client_comments,language,utm_url,utm_medium,...,ac_expected_cohort,current_download,lead_generation_app_id,utm_content,storage_status_text,custom_fields,sex,utm_placement,utm_plan,utm_term
63253,64966,Rotsen Chacha,NaN,rotsenchacha@gmail.com,5.698587e+10,full-stack,NaN,es,facebook_form_1212565689610669,ppc,...,NaN,NaN,10.0,23853111837340770,NaN,NaN,NaN,NaN,NaN,NaN
43545,42787,Carlos M,NaN,camonzonbarrera@gmail.com,5.842415e+11,full-stack,NaN,es,https://4geeksacademy.com/es/aplica,cpc,...,NaN,NaN,NaN,125652923718,NaN,NaN,NaN,NaN,NaN,NaN
33592,35688,angel,NaN,angeldavidlucerotonder2@gmail.com,5.435122e+10,full-stack,NaN,en,https://4geeksacademy.com/es/coding-bootcamps/...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
form_entry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66831 entries, 0 to 66830
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      66831 non-null  int64
 1   first_name              65388 non-null  object
 2   last_name               4452 non-null   object
 3   email                   66831 non-null  object
 4   phone                   64511 non-null  float64
 5   course                  63665 non-null  object
 6   client_comments         2081 non-null   object
 7   language                66831 non-null  object
 8   utm_url                 66223 non-null  object
 9   utm_medium              32369 non-null  object
 10  utm_campaign            28318 non-null  object
 11  street_address          44610 non-null  object
 12  country                 56491 non-null  object
 13  city                    56504 non-null  object
 14  latitude                48367 non-null  float64
 15  longitude               48367 non-null  float64
 16  state                   142 non-null    object
 17  zip_code                36717 non-null  float64
 18  storage_status          66831 non-null  object
 19  created_at              66831 non-null  object
 20  updated_at              66831 non-null  object
 21  contact_id              0 non-null      float64
 22  lead_type               154 non-null    object
 23  location                66617 non-null  object
 24  referral_key            650 non-null    object
 25  automations             66630 non-null  object
 26  tags                    66802 non-null  object
 27  gclid                   40729 non-null  object
 28  browser_lang            87 non-null     object
 29  fb_ad_id                0 non-null      float64
 30  fb_adgroup_id           0 non-null      float64
 31  fb_form_id              0 non-null      float64
 32  fb_leadgen_id           0 non-null      float64
 33  fb_page_id              0 non-null      float64
 34  utm_source              32885 non-null  object
 35  academy_id              66561 non-null  float64
 36  deal_status             18457 non-null  object
 37  sentiment               0 non-null      float64
 38  ac_contact_id           62536 non-null  float64
 39  ac_deal_id              52143 non-null  float64
 40  user_id                 2350 non-null   float64
 41  won_at                  1124 non-null   object
 42  ac_expected_cohort      6997 non-null   object
 43  current_download        291 non-null    object
 44  lead_generation_app_id  4146 non-null   float64
 45  utm_content             18804 non-null  object
 46  storage_status_text     155 non-null    object
 47  custom_fields           0 non-null      float64
 48  sex                     360 non-null    object
 49  utm_placement           0 non-null      float64
 50  utm_plan                368 non-null    object
 51  utm_term                2631 non-null   object
dtypes: float64(18), int64(1), object(33)
memory usage: 26.5+ MB

In [27]:
form_entry.columns

Index(['id', 'first_name', 'last_name', 'email', 'phone', 'course',
       'client_comments', 'language', 'utm_url', 'utm_medium', 'utm_campaign',
       'street_address', 'country', 'city', 'latitude', 'longitude', 'state',
       'zip_code', 'storage_status', 'created_at', 'updated_at', 'contact_id',
       'lead_type', 'location', 'referral_key', 'automations', 'tags', 'gclid',
       'browser_lang', 'fb_ad_id', 'fb_adgroup_id', 'fb_form_id',
       'fb_leadgen_id', 'fb_page_id', 'utm_source', 'academy_id',
       'deal_status', 'sentiment', 'ac_contact_id', 'ac_deal_id', 'user_id',
       'won_at', 'ac_expected_cohort', 'current_download',
       'lead_generation_app_id', 'utm_content', 'storage_status_text',
       'custom_fields', 'sex', 'utm_placement', 'utm_plan', 'utm_term'],
      dtype='object')

In [28]:
form_entry['ac_deal_id'].value_counts()

55275.0    2
63131.0    2
75949.0    2
60032.0    1
63806.0    1
          ..
49565.0    1
15381.0    1
45251.0    1
43209.0    1
82108.0    1
Name: ac_deal_id, Length: 52140, dtype: int64

In [29]:
form_entry['updated_at'] = form_entry['updated_at'].apply(correct_date)

In [30]:
form_entry['datetime_update'] = pd.to_datetime(form_entry['updated_at'])

In [31]:
dict_assigned = form_entry.groupby('ac_expected_cohort')['email'].apply(list).to_dict()

COHORT USERS

In [32]:
cohort_users = pd.read_csv('../sources/cohort_users.csv')

In [33]:
cohort_users['user_id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7734 entries, 0 to 7733
Series name: user_id
Non-Null Count  Dtype
--------------  -----
7734 non-null   int64
dtypes: int64(1)
memory usage: 60.5 KB

In [34]:
cohort_users.columns

Index(['id', 'role', 'finantial_status', 'educational_status', 'created_at',
       'updated_at', 'cohort_id', 'user_id', 'watching'],
      dtype='object')

In [35]:
cohorts_slugs = cohorts[['id', 'slug']].drop_duplicates()

In [36]:
cohort_users = cohort_users.merge(cohorts_slugs, left_on='cohort_id', right_on='id', how='left')
cohort_users = cohort_users.rename(columns={'id_x':'id'})
cohort_users = cohort_users.drop(columns=['id_y'])

In [37]:
cohort_users['educational_status'].value_counts()

ACTIVE       4143
GRADUATED    1196
DROPPED       309
POSTPONED     227
SUSPENDED      15
Name: educational_status, dtype: int64

In [38]:
auth = pd.read_csv('../sources/auth_user.csv')

In [39]:
cohort_users_auth = cohort_users.merge(auth, left_on='user_id', right_on='id', how='left')

In [40]:
cohort_users_auth.sample(3)

,id_x,role,finantial_status,educational_status,created_at,updated_at,cohort_id,user_id,watching,slug,id_y,first_name,last_name,email,date_joined
5115,15575,STUDENT,UP_TO_DATE,GRADUATED,2022-04-18 22:18:26.786727+00:00,2022-09-14 22:43:47.084628+00:00,306,4668,False,santiago-pt-26,4668,Matias,Muñoz,chmunozs@gmail.com,2022-04-04 21:16:34.397191+00:00
5543,16109,STUDENT,NaN,ACTIVE,2022-05-31 14:02:17.292735+00:00,2022-07-06 23:38:16.543627+00:00,354,4815,False,miami-pt-xxxviii,4815,Melissa,Castro,melissacastro.1118@gmail.com,2022-05-04 13:46:46.942566+00:00
6186,16963,ASSISTANT,NaN,ACTIVE,2022-08-31 14:07:39.555007+00:00,2022-08-31 14:07:43.759904+00:00,391,4082,False,mdc-north-5,4082,Angelo,Maiele,angelomaiele@gmail.com,2021-11-17 17:54:34.610670+00:00

In [41]:
cohort_users_auth.columns

Index(['id_x', 'role', 'finantial_status', 'educational_status', 'created_at',
       'updated_at', 'cohort_id', 'user_id', 'watching', 'slug', 'id_y',
       'first_name', 'last_name', 'email', 'date_joined'],
      dtype='object')

In [42]:
cohort_users_auth['updated_at'] = cohort_users_auth['updated_at'].apply(correct_date)

In [43]:
cohort_users_auth['datetime_update'] = pd.to_datetime(cohort_users_auth['updated_at'])

In [44]:
dict_enrolled = cohort_users_auth.groupby('slug')['email'].apply(list).to_dict()

**Create final dataframe**

In [45]:
list_slugs = list(dict_assigned.keys()) + list(dict_enrolled.keys())

In [46]:
list_slugs = list(set(list_slugs))

In [47]:
dict_slug_email = {}

for slug in list_slugs:
    
    dict_slug_email[slug] = []

    if slug in list(dict_assigned.keys()):
        dict_slug_email[slug].extend(dict_assigned[slug])
    
    if slug in list(dict_enrolled.keys()):
        dict_slug_email[slug].extend(dict_enrolled[slug])

In [48]:
list_slug_email = []
for key, value in dict_slug_email.items():
    for item in value:
        list_slug_email.append((key, item))

In [49]:
df_slug_email = pd.DataFrame(list_slug_email, columns=['slug', 'email'])

In [50]:
upcoming_cohorts_users = upcoming_cohorts.merge(df_slug_email, on='slug', how='left')

In [51]:
upcoming_cohorts_users

,id,slug,name,kickoff_date,ending_date,current_day,stage,language,created_at,updated_at,...,syllabus_version_id,online_meeting_url,remote_available,current_module,history_log,is_hidden_on_prework,campus,academy_status,datetime_kickoff,email
0,501,spain-fs-pt-enero,Spain FS PT Enero,2023-06-06 14:16:00,2023-10-10 15:16:00,0,INACTIVE,es,2022-12-09 15:17:36.465700,2022-12-24 10:42:58.373921,...,182.0,NaN,False,NaN,NaN,NaN,4Geeks Academy Madrid,ACTIVE,2023-06-06 14:16:00,NaN
1,384,latam-pt-ml-2,latam-pt-ml-2,2023-03-20 19:55:00,2023-07-21 19:55:00,0,INACTIVE,es,2022-06-15 19:56:41.393446,2022-12-02 16:24:24.277745,...,175.0,https://meet.google.com/eim-uzvt-dhk,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-03-20 19:55:00,marcelohauser2013@gmail.com
2,469,latam-pt-16,latam-pt-16,2023-02-13 22:43:00,2023-06-16 22:43:00,0,PREWORK,es,2022-10-17 22:44:42.842503,2023-01-31 19:19:08.054270,...,182.0,https://meet.google.com/ogn-kbhz-mtm,True,NaN,NaN,True,4Geeks Academy Latam,ACTIVE,2023-02-13 22:43:00,pablo@4geeks.co
3,469,latam-pt-16,latam-pt-16,2023-02-13 22:43:00,2023-06-16 22:43:00,0,PREWORK,es,2022-10-17 22:44:42.842503,2023-01-31 19:19:08.054270,...,182.0,https://meet.google.com/ogn-kbhz-mtm,True,NaN,NaN,True,4Geeks Academy Latam,ACTIVE,2023-02-13 22:43:00,info@eslava.dev
4,503,spain-fs-pt-marzo,Spain FS PT Marzo,2023-03-07 15:23:00,2023-07-18 15:23:00,0,INACTIVE,es,2022-12-09 15:24:20.195068,2022-12-09 15:24:20.195078,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Madrid,ACTIVE,2023-03-07 15:23:00,NaN
5,402,miami-49,Miami 49,2023-02-20 15:54:00,2023-06-23 14:54:00,0,INACTIVE,en,2022-08-11 14:55:18.512578,2023-01-31 17:01:16.498992,...,61.0,NaN,False,NaN,NaN,False,4Geeks Academy Miami,ACTIVE,2023-02-20 15:54:00,isaiah@areandd.com
6,473,latam-pt-20,latam-pt-20,2023-06-19 18:16:00,2023-10-20 18:16:00,0,INACTIVE,es,2022-10-18 18:17:28.070083,2023-01-16 22:41:35.109890,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-06-19 18:16:00,NaN
7,470,latam-pt-17,latam-pt-17,2023-03-13 18:12:00,2023-07-17 18:12:00,0,INACTIVE,es,2022-10-18 18:14:09.717460,2023-01-16 22:42:17.213203,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-03-13 18:12:00,NaN
8,504,spain-fs-pt-abril,Spain FS PT Abril,2023-04-10 15:24:00,2023-08-14 15:24:00,0,INACTIVE,es,2022-12-09 15:26:39.048445,2022-12-09 15:26:39.048456,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Madrid,ACTIVE,2023-04-10 15:24:00,NaN
9,403,miami-50,Miami 50,2023-03-20 14:55:00,2023-07-21 14:55:00,0,INACTIVE,en,2022-08-11 14:55:57.057573,2023-01-05 17:59:00.056658,...,61.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Miami,ACTIVE,2023-03-20 14:55:00,NaN
10,471,latam-pt-18,latam-pt-18,2023-04-17 18:14:00,2023-08-18 18:14:00,0,INACTIVE,es,2022-10-18 18:15:23.162442,2023-01-16 22:42:05.772000,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-04-17 18:14:00,NaN
11,505,spain-fs-pt-mayo,Spain FS PT Mayo,2023-05-02 15:26:00,2023-09-05 15:26:00,0,INACTIVE,es,2022-12-09 15:27:49.384144,2022-12-09 15:27:49.384153,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Madrid,ACTIVE,2023-05-02 15:26:00,NaN
12,479,latam-pt-26,latam-pt-26,2023-12-11 18:36:00,2024-04-26 18:36:00,0,INACTIVE,es,2022-10-18 18:36:56.343456,2023-01-16 22:40:53.098129,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-12-11 18:36:00,NaN
13,478,latam-pt-25,latam-pt-25,2023-11-13 18:33:00,2024-03-29 18:33:00,0,INACTIVE,es,2022-10-18 18:34:52.895475,2023-01-16 22:41:01.252292,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-11-13 18:33:00,NaN
14,477,latam-pt-24,latam-pt-24,2023-10-16 18:32:00,2024-03-01 18:32:00,0,INACTIVE,es,2022-10-18 18:33:45.115014,2023-01-16 22:41:09.953295,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-10-16 18:32:00,NaN
15,476,latam-pt-23,latam-pt-23,2023-09-18 18:31:00,2024-02-02 18:31:00,0,INACTIVE,es,2022-10-18 18:32:49.455786,2023-01-16 22:41:17.843890,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-09-18 18:31:00,NaN
16,475,latam-pt-22,latam-pt-22,2023-08-14 18:30:00,2023-12-15 18:30:00,0,INACTIVE,es,2022-10-18 18:31:05.823089,2023-01-16 22:41:26.614960,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-08-14 18:30:00,NaN
17,474,latam-pt-21,latam-pt-21,2023-07-17 18:17:00,2023-11-17 18:17:00,0,INACTIVE,es,2022-10-18 18:18:43.216835,2023-01-16 22:41:44.383001,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-07-17 18:17:00,NaN
18,472,latam-pt-19,latam-pt-19,2023-05-15 18:15:00,2023-09-15 18:15:00,0,INACTIVE,es,2022-10-18 18:16:26.949512,2023-01-16 22:41:55.195039,...,182.0,NaN,True,NaN,NaN,NaN,4Geeks Academy Latam,ACTIVE,2023-05-15 18:15:00,NaN
19,509,santiago-pt-36,Santiago PT-36,2023-02-20 13:32:00,2023-06-30 14:32:00,0,INACTIVE,es,2022-12-12 13:36:44.895170,2022-12-12 13:36:44.895180,...,100.0,https://bluejeans.com/524605273/2228,True,NaN,NaN,NaN,4Geeks Academy Santiago,ACTIVE,2023-02-20 13:32:00,NaN
20,510,santiago-pt-37,Santiago PT-37,2023-03-27 13:36:00,2023-08-04 14:36:00,0,INACTIVE,es,2022-12-12 13:38:09.737183,2022-12-12 13:38:09.737197,...,100.0,https://bluejeans.com/524605273/2228,True,NaN,NaN,NaN,4Geeks Academy Santiago,ACTIVE,2023-03-27 13:36:00,NaN

Add columns related to assigned

In [52]:
def check_in_dict(row, dict_x):
    if row['slug'] not in dict_x:
        return False
    else:
        return row['email'] in dict_x[row['slug']]

In [53]:
upcoming_cohorts_users['assigned'] = upcoming_cohorts_users.apply(lambda row: check_in_dict(row, dict_assigned), axis=1)

In [54]:
df_assigned = upcoming_cohorts_users[upcoming_cohorts_users['assigned']==True]

In [55]:
df_assigned = pd.merge(upcoming_cohorts_users, form_entry, left_on=['slug', 'email'], right_on=['ac_expected_cohort', 'email'])

In [56]:
grouped_assigned = df_assigned.groupby(['slug', 'email']).agg({'datetime_update': 'max', 'location': 'last', 'ac_deal_id':'last', 'created_at_y': 'last'})
grouped_assigned = grouped_assigned.reset_index()

In [57]:
upcoming_cohorts_users = upcoming_cohorts_users.merge(grouped_assigned, on='email', how='left').drop(columns=['slug_y', 'datetime_update'])

In [58]:
upcoming_cohorts_users = upcoming_cohorts_users.rename(columns={'slug_x':'slug', 'created_at_y':'form_created_at', 'location':'expected_location', 'ac_deal_id':'deal_id'})

Add columns related to enrolled

In [59]:
upcoming_cohorts_users['enrolled'] = upcoming_cohorts_users.apply(lambda row: check_in_dict(row, dict_enrolled), axis=1)

In [60]:
df_enrolled = upcoming_cohorts_users[upcoming_cohorts_users['enrolled']==True]

In [61]:
df_enrolled = pd.merge(upcoming_cohorts_users, cohort_users_auth, left_on=['slug', 'email'], right_on=['slug', 'email'])

In [62]:
grouped_enrolled = df_enrolled.groupby(['slug', 'email']).agg({'datetime_update': 'max', 'educational_status': 'last', 'created_at_y': 'last'})
grouped_enrolled = grouped_enrolled.reset_index()

In [63]:
upcoming_cohorts_users = upcoming_cohorts_users.merge(grouped_enrolled, on='email', how='left')

In [64]:
upcoming_cohorts_users = upcoming_cohorts_users.rename(columns={'slug_x':'slug', 'created_at_y':'inscription_created_at'})

**Cleaning upcoming_cohorts**

In [65]:
upcoming_cohorts_users['days_until_kickoff'] = (upcoming_cohorts_users['datetime_kickoff'] - pd.Timestamp.now()).dt.days

In [66]:
upcoming_cohorts_users['form_created_at'] = upcoming_cohorts_users['form_created_at'].apply(correct_date)
upcoming_cohorts_users['inscription_created_at'] = upcoming_cohorts_users['inscription_created_at'].apply(correct_date)

In [67]:
upcoming_cohorts_users['form_created_at'] = pd.to_datetime(upcoming_cohorts_users['form_created_at'])
upcoming_cohorts_users['inscription_created_at'] = pd.to_datetime(upcoming_cohorts_users['inscription_created_at'])

In [68]:
upcoming_cohorts_users['days_since_form_creation'] = (pd.Timestamp.now()- upcoming_cohorts_users['form_created_at']).dt.days
upcoming_cohorts_users['days_since_inscription'] = (pd.Timestamp.now()- upcoming_cohorts_users['inscription_created_at']).dt.days

In [69]:
def create_link(row):
    if pd.isnull(row['deal_id']):
        return np.nan
    else:
        return 'https://4geeks.activehosted.com/app/deals/' + str(int(row['deal_id']))

In [70]:
upcoming_cohorts_users['ac_deal_link'] = upcoming_cohorts_users.apply(create_link, axis=1)

In [71]:
upcoming_cohorts_users = upcoming_cohorts_users[['id', 'slug', 'name', 'stage', 'language', 'academy_id', 'campus', 'datetime_kickoff', 'days_until_kickoff', 'email', 'assigned', 'expected_location', 'ac_deal_link', 'form_created_at', 'days_since_form_creation', 'enrolled', 'educational_status', 'inscription_created_at', 'days_since_inscription']]

In [72]:
upcoming_cohorts_users['assigned'] = np.where(upcoming_cohorts_users['assigned'] == True, 1, 0)

In [73]:
upcoming_cohorts_users['enrolled'] = np.where(upcoming_cohorts_users['enrolled'] == True, 1, 0)

In [74]:
upcoming_cohorts_users = upcoming_cohorts_users.drop_duplicates()

In [75]:
upcoming_cohorts_users = upcoming_cohorts_users.sort_values(by=['days_until_kickoff'], ascending=True)

In [76]:
upcoming_cohorts_users

,id,slug,name,stage,language,academy_id,campus,datetime_kickoff,days_until_kickoff,email,assigned,expected_location,ac_deal_link,form_created_at,days_since_form_creation,enrolled,educational_status,inscription_created_at,days_since_inscription
2,469,latam-pt-16,latam-pt-16,PREWORK,es,7,4Geeks Academy Latam,2023-02-13 22:43:00,0,pablo@4geeks.co,0,NaN,NaN,NaT,NaN,1,ACTIVE,2023-01-19 18:29:48.400048,24.0
3,469,latam-pt-16,latam-pt-16,PREWORK,es,7,4Geeks Academy Latam,2023-02-13 22:43:00,0,info@eslava.dev,0,NaN,NaN,NaT,NaN,1,ACTIVE,2023-01-30 14:09:42.369031,14.0
19,509,santiago-pt-36,Santiago PT-36,INACTIVE,es,5,4Geeks Academy Santiago,2023-02-20 13:32:00,6,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
5,402,miami-49,Miami 49,INACTIVE,en,4,4Geeks Academy Miami,2023-02-20 15:54:00,7,isaiah@areandd.com,0,NaN,NaN,NaT,NaN,1,ACTIVE,2023-01-31 16:24:57.513149,12.0
4,503,spain-fs-pt-marzo,Spain FS PT Marzo,INACTIVE,es,6,4Geeks Academy Madrid,2023-03-07 15:23:00,21,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
7,470,latam-pt-17,latam-pt-17,INACTIVE,es,7,4Geeks Academy Latam,2023-03-13 18:12:00,28,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
9,403,miami-50,Miami 50,INACTIVE,en,4,4Geeks Academy Miami,2023-03-20 14:55:00,34,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
1,384,latam-pt-ml-2,latam-pt-ml-2,INACTIVE,es,7,4Geeks Academy Latam,2023-03-20 19:55:00,35,marcelohauser2013@gmail.com,1,test_added_location_2,https://4geeks.activehosted.com/app/deals/18823,2021-07-18 17:30:09.730971,574.0,0,NaN,NaT,NaN
20,510,santiago-pt-37,Santiago PT-37,INACTIVE,es,5,4Geeks Academy Santiago,2023-03-27 13:36:00,41,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
8,504,spain-fs-pt-abril,Spain FS PT Abril,INACTIVE,es,6,4Geeks Academy Madrid,2023-04-10 15:24:00,55,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
10,471,latam-pt-18,latam-pt-18,INACTIVE,es,7,4Geeks Academy Latam,2023-04-17 18:14:00,63,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
11,505,spain-fs-pt-mayo,Spain FS PT Mayo,INACTIVE,es,6,4Geeks Academy Madrid,2023-05-02 15:26:00,77,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
18,472,latam-pt-19,latam-pt-19,INACTIVE,es,7,4Geeks Academy Latam,2023-05-15 18:15:00,91,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
0,501,spain-fs-pt-enero,Spain FS PT Enero,INACTIVE,es,6,4Geeks Academy Madrid,2023-06-06 14:16:00,112,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
6,473,latam-pt-20,latam-pt-20,INACTIVE,es,7,4Geeks Academy Latam,2023-06-19 18:16:00,126,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
17,474,latam-pt-21,latam-pt-21,INACTIVE,es,7,4Geeks Academy Latam,2023-07-17 18:17:00,154,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
16,475,latam-pt-22,latam-pt-22,INACTIVE,es,7,4Geeks Academy Latam,2023-08-14 18:30:00,182,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
15,476,latam-pt-23,latam-pt-23,INACTIVE,es,7,4Geeks Academy Latam,2023-09-18 18:31:00,217,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
14,477,latam-pt-24,latam-pt-24,INACTIVE,es,7,4Geeks Academy Latam,2023-10-16 18:32:00,245,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
13,478,latam-pt-25,latam-pt-25,INACTIVE,es,7,4Geeks Academy Latam,2023-11-13 18:33:00,273,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN
12,479,latam-pt-26,latam-pt-26,INACTIVE,es,7,4Geeks Academy Latam,2023-12-11 18:36:00,301,NaN,0,NaN,NaN,NaT,NaN,0,NaN,NaT,NaN

In [77]:
upcoming_cohorts_users.to_csv('../output/upcoming_cohorts_users.csv')